.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: auto;
    min-width: 100px;
    z-index: 1;
    overflow: auto;
}

.product__info {
    font-size: 1rem;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product>img {
    max-height: 150px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.product>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}